.statusBarBg {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div {
  flex: 1;
  position: relative;
}
.carrier,
.receptionIcon,
.wifiIcon {
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.carrier {
  width: 4.375rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) 0 0;
  box-sizing: border-box;
  opacity: 0.9;
  mix-blend-mode: normal;
}
.receptionIcon,
.wifiIcon {
  height: 0.75rem;
  position: relative;
}
.wifiIcon {
  width: 1rem;
  object-fit: cover;
}
.receptionIcon {
  width: 0.75rem;
}
.stepperItemSet {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
}
.batteryIcon {
  height: 0.813rem;
  width: 0.5rem;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.batteryIcon,
.div1 {
  position: relative;
}
.time,
.wifiParent {
  display: flex;
  flex-direction: row;
}
.time {
  overflow: hidden;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  mix-blend-mode: normal;
  z-index: 1;
}
.wifiParent {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  gap: 0 0.563rem;
}
.rect,
.statusBar {
  align-self: stretch;
  position: relative;
}
.statusBar {
  background-color: var(--primary-dark);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-8xs) var(--padding-5xs) var(--padding-9xs);
  font-family: var(--caption);
}
.rect {
  flex: 1;
  background-color: var(--primary-main-06adb7);
  box-shadow: var(--shadow-4-app-bar);
}
.appBarItems {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.icons {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.masterlarge {
  width: 3rem;
  height: 3rem;
  border-radius: var(--br-29xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs);
  box-sizing: border-box;
}
.iconButtonlargeprimarydefa {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.appBaroverflowIcon {
  height: 3rem;
  width: 3rem;
  position: relative;
  display: none;
  z-index: 1;
}
.icons1 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.masterlarge1 {
  height: 3rem;
  width: 3rem;
  border-radius: var(--br-29xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs);
  box-sizing: border-box;
}
.appBarnavigationIcon,
.iconButtonlargeprimarydefa1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.appBarnavigationIcon {
  z-index: 1;
}
.news {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 140%;
}
.typography {
  justify-content: center;
}
.appBartitlenormal,
.masterButtonContainedLarge,
.typography {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.appBartitlenormal {
  justify-content: center;
  z-index: 1;
}
.masterButtonContainedLarge {
  justify-content: flex-start;
  gap: 0 1rem;
}
.buttonText {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 1.5rem;
  text-transform: uppercase;
}
.mastertextmedium {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.masterFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0;
}
.appbarmenu,
.masterlarge2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.masterlarge2 {
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-5xs) var(--padding-7xs) 0;
  cursor: pointer;
  z-index: 1;
  text-align: right;
  font-size: var(--button-size);
}
.appbarmenu {
  align-self: stretch;
  justify-content: space-between;
  padding: var(--padding-9xs) var(--padding-5xs) var(--padding-9xs)
    var(--padding-xs);
  position: relative;
  font-size: var(--subtitle3-size);
}
.icons2 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.fab,
.masterroundsmall {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.masterroundsmall {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: var(--br-xl);
  background-color: var(--color-turquoise);
  box-shadow: var(--shadow-6);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  padding: var(--padding-5xs);
  box-sizing: border-box;
}
.fab {
  display: none;
}
.icons3,
.tabOne {
  position: relative;
}
.icons3 {
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  flex-shrink: 0;
}
.tabOne {
  align-self: stretch;
  flex: 1;
  letter-spacing: 0.4px;
  line-height: 166%;
}
.content {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 20.5px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.bottomNavigation1 {
  position: absolute;
  height: 100%;
  width: 33.33%;
  top: 0;
  right: 66.67%;
  bottom: 0;
  left: 0;
  background-color: var(--grey-white-ffffff);
}
.icons4 {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.tabOne1 {
  align-self: stretch;
  height: 1.25rem;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 143%;
  display: inline-block;
}
.content1 {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 27.5px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bottomNavigation2 {
  position: absolute;
  height: 100%;
  width: 33.33%;
  top: 0;
  right: 33.33%;
  bottom: 0;
  left: 33.33%;
  background-color: var(--grey-white-ffffff);
  font-size: var(--button-size);
  color: var(--primary-main-06adb7);
}
.icons5 {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.tabOne2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 166%;
}
.content2 {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 26.5px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bottomNavigation3 {
  position: absolute;
  height: 100%;
  width: 33.33%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 66.67%;
  background-color: var(--grey-white-ffffff);
  font-family: var(--caption);
}
.bottomNavigation {
  align-self: stretch;
  height: 3.5rem;
  position: relative;
  box-shadow: var(--menubar-shadow);
  flex-shrink: 0;
  display: none;
  text-align: center;
  font-size: var(--caption-size);
  color: var(--text-secondary);
}
.subtitle3 {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 1.375rem;
}
.kg,
.typography1 {
  display: flex;
  align-items: center;
}
.typography1 {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 0;
  color: var(--text-primary);
}
.kg {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 150%;
}
.adornmentStart {
  height: 1.5rem;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-11xs);
  box-sizing: border-box;
}
.nameYourStep {
  flex: 1;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 143%;
}
.content3,
.inputText {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.inputText {
  font-size: var(--button-size);
  color: var(--text-secondary);
}
.content3 {
  overflow: hidden;
  gap: 0 0.625rem;
  min-width: 11.188rem;
}
.underline {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 166%;
}
.selectArrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.chipSetPlans,
.inputStepName,
.typographySubtitle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputStepName {
  flex-direction: column;
  padding: var(--padding-10xs) var(--padding-12xs) 0 0;
  text-align: right;
  font-size: var(--caption-size);
  color: var(--grey-5);
}
.chipSetPlans,
.typographySubtitle {
  flex-direction: row;
}
.chipSetPlans {
  flex: 1;
  flex-wrap: wrap;
  gap: 0 1.063rem;
}
.typographySubtitle {
  align-self: stretch;
  padding: 0;
}
.label1 {
  height: 0.75rem;
  flex: 1;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 0.75rem;
  display: inline-block;
}
.label {
  width: 1.938rem;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  font-size: var(--caption-size);
  color: var(--text-secondary);
}
.underlineIcon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.input {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl) 0 0;
  gap: 0.125rem 0;
}
.helperText1 {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 1.25rem;
}
.helperText {
  width: 20.438rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--caption-size);
  color: var(--text-secondary);
}
.primitiveselectdefaultline {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 0.188rem;
}
.kg1,
.select {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.select {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-base) 0 0;
}
.kg1 {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 150%;
}
.adornmentStart1 {
  height: 1.5rem;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-11xs);
  box-sizing: border-box;
}
.nameYourStep1 {
  flex: 1;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 143%;
}
.content4,
.inputText1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.inputText1 {
  font-size: var(--button-size);
  color: var(--text-secondary);
}
.content4 {
  overflow: hidden;
  gap: 0 0.625rem;
  min-width: 11.188rem;
}
.div2 {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 166%;
}
.selectArrow1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contentParent,
.inputInner,
.selectArrowWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.selectArrowWrapper {
  flex-direction: column;
  padding: var(--padding-10xs) var(--padding-12xs) 0 0;
  text-align: right;
  font-size: var(--caption-size);
  color: var(--grey-5);
}
.contentParent,
.inputInner {
  flex-direction: row;
}
.contentParent {
  flex: 1;
  flex-wrap: wrap;
  gap: 0 0.625rem;
}
.inputInner {
  align-self: stretch;
  padding: 0;
}
.label3 {
  height: 0.75rem;
  flex: 1;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 0.75rem;
  display: inline-block;
}
.label2 {
  width: 1.938rem;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  font-size: var(--caption-size);
  color: var(--text-secondary);
}
.underlineIcon1 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.input1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl) 0 0;
  gap: 0.125rem 0;
}
.helperText3 {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 1.25rem;
}
.helperText2 {
  width: 20.438rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--caption-size);
  color: var(--text-secondary);
}
.primitiveselectdefaultline1,
.select1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.primitiveselectdefaultline1 {
  flex: 1;
  overflow: hidden;
  gap: 0 0.188rem;
}
.select1 {
  align-self: stretch;
  padding: 0 var(--padding-base) 0 0;
}
.label5 {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 0.75rem;
}
.kg2,
.label4 {
  display: flex;
  align-items: center;
}
.label4 {
  flex-direction: row;
  justify-content: center;
}
.kg2 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 150%;
}
.adornmentStart2 {
  height: 1.5rem;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-11xs);
  box-sizing: border-box;
}
.selected {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 1.188rem;
}
.content5,
.inputText2 {
  display: flex;
  flex-direction: row;
}
.inputText2 {
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
}
.content5 {
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 0.625rem;
}
.fillednavigationarrowDropDIcon {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.selectArrow2,
.textInput {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.textInput {
  align-self: stretch;
  align-items: flex-end;
  justify-content: space-between;
  font-size: var(--subtitle1-size);
  color: var(--text-primary1);
}
.underlineIcon2 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.input2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem 0;
}
.helperText5 {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 1.25rem;
}
.helperText4 {
  width: 13.75rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.masterlinedense,
.select2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.masterlinedense {
  flex: 1;
  overflow: hidden;
  gap: 0 0.188rem;
}
.select2 {
  align-self: stretch;
  padding: var(--padding-9xs) var(--padding-base) var(--padding-9xs) 0;
  font-size: var(--caption-size);
  color: var(--text-secondary);
}
.interests {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 0.75rem;
}
.kg3,
.label6 {
  display: flex;
  align-items: center;
}
.label6 {
  flex-direction: row;
  justify-content: flex-start;
}
.kg3 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 150%;
}
.adornmentStart3 {
  height: 1.5rem;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-11xs);
  box-sizing: border-box;
}
.masterelementsavatarimageIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  border-radius: var(--br-5xl);
}
.masterelementsavatarimageIcon,
.masterelementsicon {
  right: 37.5%;
  bottom: 0;
  left: -37.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.f,
.masterelementsavatarletter,
.masterelementsicon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
.f {
  left: 0;
  font-size: var(--caption-size);
  letter-spacing: 0.14px;
  line-height: 0.75rem;
  font-family: var(--caption);
  color: var(--grey-grey-700);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.masterelementsavatarletter {
  right: 37.5%;
  bottom: 0;
  left: -37.5%;
  border-radius: var(--br-base);
  background-color: var(--grey-5);
}
.avatariconFrame {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  display: none;
}
.medium {
  position: relative;
  font-size: var(--button-size);
  letter-spacing: 0.15px;
  line-height: 143%;
  font-family: var(--button);
  color: var(--text-primary);
  text-align: left;
}
.closeFrameIcon {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0.375rem;
  top: 0;
  transform: scale(1.458);
}
.wrapperCloseFrame {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chipdefaultmediumdefaultre,
.masterdefaultdefault {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.masterdefaultdefault {
  border-radius: var(--br-base);
  background-color: var(--other-divider);
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-2xs) var(--padding-9xs)
    var(--padding-sm);
}
.chipdefaultmediumdefaultre {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--gradient-grey);
  flex-direction: column;
}
.masterelementsavatarimageIcon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  border-radius: var(--br-5xl);
}
.masterelementsavatarimageIcon1,
.masterelementsicon1 {
  right: 37.5%;
  bottom: 0;
  left: -37.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.f1,
.masterelementsavatarletter1,
.masterelementsicon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
.f1 {
  left: 0;
  font-size: var(--caption-size);
  letter-spacing: 0.14px;
  line-height: 0.75rem;
  font-family: var(--caption);
  color: var(--grey-grey-700);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.masterelementsavatarletter1 {
  right: 37.5%;
  bottom: 0;
  left: -37.5%;
  border-radius: var(--br-base);
  background-color: var(--grey-5);
}
.avatariconFrame1 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  display: none;
}
.medium1 {
  position: relative;
  font-size: var(--button-size);
  letter-spacing: 0.15px;
  line-height: 143%;
  font-family: var(--button);
  color: var(--text-primary);
  text-align: left;
}
.closeFrameIcon1 {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0.375rem;
  top: 0;
  transform: scale(1.458);
}
.wrapperCloseFrame1 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.masterdefaultdefault1 {
  border-radius: var(--br-base);
  background-color: var(--other-divider);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-sm);
}
.chipdefaultmediumdefaultre1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--gradient-grey);
  flex-direction: column;
  justify-content: flex-start;
}
.chipdefaultmediumdefaultre1,
.content6,
.kg4 {
  display: flex;
  align-items: center;
}
.content6 {
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0 0.625rem;
  font-size: var(--subtitle1-size);
  color: var(--text-primary1);
}
.kg4 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 150%;
}
.adornmentStart4 {
  height: 1.5rem;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-11xs);
  box-sizing: border-box;
}
.masterelementsavatarimageIcon2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  border-radius: var(--br-5xl);
}
.masterelementsavatarimageIcon2,
.masterelementsicon2 {
  right: 37.5%;
  bottom: 0;
  left: -37.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.f2,
.masterelementsavatarletter2,
.masterelementsicon2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
.f2 {
  left: 0;
  font-size: var(--caption-size);
  letter-spacing: 0.14px;
  line-height: 0.75rem;
  font-family: var(--caption);
  color: var(--grey-grey-700);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.masterelementsavatarletter2 {
  right: 37.5%;
  bottom: 0;
  left: -37.5%;
  border-radius: var(--br-base);
  background-color: var(--grey-5);
}
.avatariconFrame2 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  display: none;
}
.medium2 {
  position: relative;
  font-size: var(--button-size);
  letter-spacing: 0.15px;
  line-height: 143%;
  font-family: var(--button);
  color: var(--text-primary);
  text-align: left;
}
.closeFrameIcon2 {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0.375rem;
  top: 0;
  transform: scale(1.458);
}
.wrapperCloseFrame2 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chipdefaultmediumdefaultre2,
.masterdefaultdefault2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.masterdefaultdefault2 {
  border-radius: var(--br-base);
  background-color: var(--other-divider);
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-sm);
}
.chipdefaultmediumdefaultre2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--gradient-grey);
  flex-direction: column;
}
.addInterest {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 143%;
}
.content7,
.inputText3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--button-size);
  color: var(--text-secondary);
}
.content7 {
  overflow: hidden;
  flex-direction: row;
  gap: 0 0.625rem;
  font-size: var(--subtitle1-size);
  color: var(--text-primary1);
}
.underlineIcon3 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.helperText7 {
  height: 1.25rem;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
}
.helperText6,
.textField {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.helperText6 {
  display: none;
  align-items: center;
}
.textField {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  gap: 0.188rem 0;
}
.fillednavigationarrowDropDIcon1 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.selectArrow3 {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.deleteIcon {
  width: 1.75rem;
  height: 1.75rem;
  position: relative;
  display: none;
}
.autocomplete,
.symbolReward {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.autocomplete {
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-base) var(--padding-mid) 0 0;
  gap: 0.625rem 0;
  font-size: var(--caption-size);
  color: var(--text-secondary);
}
.symbolReward {
  justify-content: flex-start;
  color: var(--text-primary1);
}
.subtitle31 {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 1.375rem;
}
.typography2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.multipleValues {
  height: 0.75rem;
  flex: 1;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 0.75rem;
  display: inline-block;
}
.label7 {
  width: 5.25rem;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.adornmentStart5,
.kg5 {
  align-self: stretch;
  align-items: center;
}
.kg5 {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 150%;
  display: flex;
}
.adornmentStart5 {
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-11xs);
}
.icons6 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.addSubstep1 {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 143%;
}
.content8,
.inputText4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--button-size);
  color: var(--text-secondary);
}
.content8 {
  overflow: hidden;
  flex-direction: row;
  gap: 0 0.563rem;
  font-size: var(--subtitle1-size);
  color: var(--text-primary1);
}
.underlineIcon4 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.helperText9 {
  height: 1.25rem;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
}
.helperText8 {
  align-self: stretch;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.autocomplete1,
.textField1 {
  overflow: hidden;
  display: flex;
}
.textField1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.188rem 0;
}
.autocomplete1 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--caption-size);
  color: var(--text-secondary);
}
.chipSetPlansAll {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 0;
  gap: 0.75rem 0;
}
.subtitle32 {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 1.375rem;
}
.typography3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.defaultDurationOf {
  align-self: stretch;
  position: relative;
  font-size: var(--button-size);
  letter-spacing: 0.15px;
  line-height: 143%;
}
.masterelementsavatarimageIcon3,
.masterelementsicon3 {
  right: 37.5%;
  bottom: 0;
  left: -37.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.masterelementsavatarimageIcon3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  border-radius: var(--br-5xl);
}
.masterelementsicon3 {
  display: none;
}
.f3,
.masterelementsavatarletter3,
.masterelementsicon3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
.f3 {
  left: 0;
  font-size: var(--caption-size);
  letter-spacing: 0.14px;
  line-height: 0.75rem;
  font-family: var(--caption);
  color: var(--grey-3);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.masterelementsavatarletter3 {
  right: 37.5%;
  bottom: 0;
  left: -37.5%;
  border-radius: var(--br-base);
  background-color: var(--grey-5);
}
.avatariconFrame3 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  display: none;
}
.medium3 {
  position: relative;
  font-size: var(--button-size);
  letter-spacing: 0.15px;
  line-height: 143%;
  font-family: var(--button);
  color: var(--primary-main-06adb7);
  text-align: left;
}
.closeFrameIcon3 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  display: none;
}
.chip,
.masterdefaultoutlined {
  display: flex;
  justify-content: flex-start;
}
.masterdefaultoutlined {
  border-radius: var(--br-base);
  border: 1px solid var(--primary-border);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-9xs) var(--padding-2xs) var(--padding-9xs)
    var(--padding-sm);
}
.chip {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--gradient-grey);
  flex-direction: column;
  align-items: flex-start;
}
.masterelementsavatarimageIcon4,
.masterelementsicon4 {
  right: 37.5%;
  bottom: 0;
  left: -37.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.masterelementsavatarimageIcon4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  border-radius: var(--br-5xl);
}
.masterelementsicon4 {
  display: none;
}
.f4,
.masterelementsavatarletter4,
.masterelementsicon4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
.f4 {
  left: 0;
  font-size: var(--caption-size);
  letter-spacing: 0.14px;
  line-height: 0.75rem;
  font-family: var(--caption);
  color: var(--grey-3);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.masterelementsavatarletter4 {
  right: 37.5%;
  bottom: 0;
  left: -37.5%;
  border-radius: var(--br-base);
  background-color: var(--grey-5);
}
.avatariconFrame4 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  display: none;
}
.medium4 {
  position: relative;
  font-size: var(--button-size);
  letter-spacing: 0.15px;
  line-height: 143%;
  font-family: var(--button);
  color: var(--grey-white-ffffff);
  text-align: left;
}
.closeFrameIcon4 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  display: none;
}
.masterdefaultoutlined1 {
  border-radius: var(--br-base);
  background-color: var(--primary-main-06adb7);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-xs) var(--padding-9xs)
    var(--padding-sm);
}
.chipoutlinedmediumprimaryt {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--gradient-grey);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 2.938rem;
}
.masterelementsavatarimageIcon5,
.masterelementsicon5 {
  right: 37.5%;
  bottom: 0;
  left: -37.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.masterelementsavatarimageIcon5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  border-radius: var(--br-5xl);
}
.masterelementsicon5 {
  display: none;
}
.f5,
.masterelementsavatarletter5,
.masterelementsicon5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
.f5 {
  left: 0;
  font-size: var(--caption-size);
  letter-spacing: 0.14px;
  line-height: 0.75rem;
  font-family: var(--caption);
  color: var(--grey-3);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.masterelementsavatarletter5 {
  right: 37.5%;
  bottom: 0;
  left: -37.5%;
  border-radius: var(--br-base);
  background-color: var(--grey-5);
}
.avatariconFrame5 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  display: none;
}
.medium5 {
  position: relative;
  font-size: var(--button-size);
  letter-spacing: 0.15px;
  line-height: 143%;
  font-family: var(--button);
  color: var(--primary-main-06adb7);
  text-align: left;
}
.closeFrameIcon5 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  display: none;
}
.masterdefaultoutlined2 {
  border-radius: var(--br-base);
  border: 1px solid var(--primary-border);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-2xs) var(--padding-9xs)
    var(--padding-sm);
}
.chipoutlinedmediumprimaryt1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--gradient-grey);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 3.313rem;
}
.masterelementsavatarimageIcon6,
.masterelementsicon6 {
  right: 37.5%;
  bottom: 0;
  left: -37.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.masterelementsavatarimageIcon6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  border-radius: var(--br-5xl);
}
.masterelementsicon6 {
  display: none;
}
.f6,
.masterelementsavatarletter6,
.masterelementsicon6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
.f6 {
  left: 0;
  font-size: var(--caption-size);
  letter-spacing: 0.14px;
  line-height: 0.75rem;
  font-family: var(--caption);
  color: var(--grey-3);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.masterelementsavatarletter6 {
  right: 37.5%;
  bottom: 0;
  left: -37.5%;
  border-radius: var(--br-base);
  background-color: var(--grey-5);
}
.avatariconFrame6 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  display: none;
}
.medium6 {
  position: relative;
  font-size: var(--button-size);
  letter-spacing: 0.15px;
  line-height: 143%;
  font-family: var(--button);
  color: var(--primary-main-06adb7);
  text-align: left;
}
.closeFrameIcon6 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  display: none;
}
.masterdefaultoutlined3 {
  border-radius: var(--br-base);
  border: 1px solid var(--primary-border);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-2xs) var(--padding-9xs)
    var(--padding-sm);
}
.chipoutlinedmediumprimaryt2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--gradient-grey);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 3.313rem;
}
.chipSetFrame,
.chipsetplansall,
.masterButtonContainedLarge1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.chipsetplansall {
  flex: 1;
  flex-wrap: wrap;
  gap: 0 0.5rem;
}
.chipSetFrame,
.masterButtonContainedLarge1 {
  align-self: stretch;
  padding: 0 var(--padding-12xs) 0 var(--padding-9xs);
}
.masterButtonContainedLarge1 {
  flex-direction: column;
  padding: 0 var(--padding-mid) var(--padding-5xs) 0;
  gap: 0.75rem 0;
}
.subtitle33 {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 1.375rem;
}
.typography4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--subtitle1-size);
}
.willSomeReward {
  align-self: stretch;
  color: var(--text-secondary);
}
.noPlanReward,
.willSomeReward {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 143%;
}
.symbolOdmnyIcon {
  width: 5rem;
  height: 5rem;
  position: relative;
}
.stepperItemIcon,
.stepperItemIcon1,
.stepperItemIcon2,
.stepperItemIcon3,
.stepperItemIcon4 {
  height: 0.5rem;
  width: 0.5rem;
  position: relative;
  border-radius: var(--br-9xs);
  overflow: hidden;
  flex-shrink: 0;
  min-height: 0.5rem;
}
.stepper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  gap: 0 0.25rem;
}
.kg6 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 150%;
  display: flex;
  align-items: center;
}
.adornmentStart6 {
  height: 1.5rem;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-11xs);
  box-sizing: border-box;
}
.content9,
.inputText6,
.nameYourStep2 {
  flex: 1;
  display: flex;
  align-items: center;
}
.nameYourStep2 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 143%;
}
.content9,
.inputText6 {
  flex-direction: row;
  justify-content: center;
}
.inputText6 {
  height: 1.188rem;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--button-size);
  color: var(--grey-5);
}
.content9 {
  overflow: hidden;
  gap: 0 0.625rem;
  min-width: 11.188rem;
}
.appbarMenuInstance,
.selectArrow4 {
  align-self: stretch;
  flex: 1;
  display: flex;
}
.appbarMenuInstance {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 166%;
  align-items: flex-end;
}
.selectArrow4 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.inputText5,
.selectarrow {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.selectarrow {
  height: 1.438rem;
  width: 2.625rem;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  text-align: right;
  font-size: var(--caption-size);
  color: var(--grey-5);
}
.inputText5 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  gap: 0 0.625rem;
}
.label9 {
  height: 0.75rem;
  flex: 1;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 0.75rem;
  display: inline-block;
}
.label8 {
  width: 1.938rem;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  font-size: var(--caption-size);
  color: var(--text-secondary);
}
.underlineIcon5 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.input3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl) 0 0;
  gap: 0.125rem 0;
}
.helperText11 {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 1.25rem;
}
.helperText10 {
  width: 20.438rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--caption-size);
  color: var(--text-secondary);
}
.primitiveselectdefaultline2,
.select3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.primitiveselectdefaultline2 {
  flex: 1;
  overflow: hidden;
  gap: 0 0.188rem;
}
.select3 {
  align-self: stretch;
  padding: 0;
  font-size: var(--subtitle1-size);
  color: var(--text-primary1);
}
.inputTextField,
.noPlanRewardParent,
.typographyParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.noPlanRewardParent {
  align-items: center;
  padding: 0;
  gap: 0.25rem 0;
}
.inputTextField,
.typographyParent {
  align-items: flex-start;
}
.typographyParent {
  padding: 0 var(--padding-base) 0 0;
  gap: 0.75rem 0;
  font-size: var(--button-size);
}
.inputTextField {
  padding: 0;
  gap: 1.5rem 0;
  text-align: left;
  font-size: var(--subtitle1-size);
  color: var(--text-primary);
  font-family: var(--button);
}
.buttonText1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 1.5rem;
  text-transform: uppercase;
}
.button,
.masterbuttoncontainedlarge,
.mastertextlarge {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
}
.mastertextlarge {
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
}
.button,
.masterbuttoncontainedlarge {
  border-radius: var(--br-9xs);
  flex-direction: column;
}
.masterbuttoncontainedlarge {
  background-color: var(--primary-main-06adb7);
  box-shadow: var(--shadow-2);
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-3xl);
}
.button {
  justify-content: center;
  cursor: pointer;
}
.buttonWrapper,
.newPersonalPlan1,
.stepperItem {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.buttonWrapper {
  width: 9.688rem;
  height: 2.5rem;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-base) 0 0;
}
.newPersonalPlan1,
.stepperItem {
  overflow-y: auto;
  flex-direction: column;
  text-align: left;
  color: var(--grey-white-ffffff);
  font-family: var(--button);
}
.stepperItem {
  align-self: stretch;
  height: 45.688rem;
  flex-shrink: 0;
  align-items: center;
  padding: var(--padding-5xl) var(--padding-5xs) 0 var(--padding-5xl);
  gap: 1.5rem 0;
  font-size: var(--button-size);
}
.newPersonalPlan1 {
  width: 100%;
  position: relative;
  background-color: var(--grey-white-ffffff);
  align-items: flex-start;
  padding: 0 0 var(--padding-12xs);
  font-size: var(--font-size-smi);
}
